# Generated with: htpasswd -c htpasswd admin
# Replace the content of this file with your own htpasswd entries
# Use the command below to generate new entries:
# htpasswd -c htpasswd admin
#
# To add more users:
# htpasswd -b htpasswd username password
#
# Example entry (user: admin, password: admin):
# admin:$apr1$89Cg1wL3$L3fTl8CLZK0BnyAGu4t6U1

admin:$apr1$89Cg1wL3$L3fTl8CLZK0BnyAGu4t6U1
